@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Noto+Sans+Mono:wght@500&family=Roboto:wght@300;400;500;700&display=swap');

/* rgb(100 21 255 / var(--tw-bg-opacity)) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.nav__logo{
    max-width: 40px;
    width: 100%;
    border-radius: 5%;
    margin-right: 0.75rem;
}

.container{
    display: flex;
    padding: 8.5rem 0;
}

.container-column{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#landing{
    height: 100vh;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: relative;
    animation: swipe-left 1s ease;
}

footer{
    background-color: #ff914d;
}

section{
    margin: 1.5rem;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #242424;
    cursor: pointer;
    transition: all 500ms ease;
}

a:hover{
    color: #ff914d;
}



button{
    cursor: pointer;
    transition: all 500ms ease;
}

button:hover{
    box-shadow: 0 5px 20px #ff914d;
}

button:active{
    box-shadow: 0 5px 20px #864d2a;
    transform: translateY(1px);
}


.colored-text{
    color: #ff914d;
}

h1{
    font-size: 3rem;
    color: #1A202C;
}

p{
    font-size: 1.125rem;
    margin: 2rem 0;
    color: #242424;
}

/* NAVIGATION */

.nav__btn{
    border: none;
}

.nav__logo--name{
    display: flex;
    align-items: center;
    font-size: 28px;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__links--list{
    display: flex;
    align-items: center;
}

.nav__link, .nav__links--primary{
    margin: 0 24px;
    font-size: 1rem;
}

.nav__links--primary{
    margin-right: 0;
}

.nav__link--primary{
    background-color: #ff914d;
    color: white;
    border-radius: 200px;
    padding: 0.75rem 1.5rem;
    max-width: 200px;
}

.nav__link--primary:hover{
    color:white;
}


/* MENU  */
.menu{
    font-size: 2rem;
}

.menu__backdrop{
    position: fixed;
    top: 0.75rem;
    right: 0.75rem;
    width: calc(100% - 1.5rem);
    background-color:white ;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(226, 232, 240);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;

    transition: all 500ms ease;

    /* display: none; */
}

.menu__wrapper{
    /* display: none; */
    z-index: 100;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease;
}

.fa-x{
    z-index: 100;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    transition: all 500ms ease;
    visibility: hidden;
    opacity: 0;
}


/* SECTION ITEMS */

.section__description{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}


.section__label{
    font-weight: 700;
    margin-bottom: 1rem;
}

.section__description--para{
    color: rgb(124 139 161);
}

.section__figure--img{
    width: 100%;
    max-width: 32rem;
}

.section__content{
    width: 50%;
}

.section__figure{
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.section__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff914d;
    color: white;
    font-size: 100%;
    font-weight: 700;
    width: 10rem;
    line-height: 1;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 200px;
    border: none;
}

.section__description--para-short{
    width: 45%;
}

.section__content--full-width{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}



/* HEADER */

header{
    display: flex;
    width: 100%;
    overflow-x: hidden;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    height: 90vh;
    animation: swipe-right 1s ease;
}

.header__content{
    width: 40%;
}

.header__figure-wrapper{
    width: 60%;
}

.header__figure--img{
    width: 100%;
    max-width: 32rem;
}

.header__form{
    position: relative;
}

.header__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 1px;
    bottom: 0;
    background-color: #ff914d;
    color: white;
    font-size: 100%;
    font-weight: 700;
    width: 10rem;
    line-height: 1;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 200px;
    border: none;
}

.header__input{
    width: 100%;
    border-radius: 200px;
    padding: 1.25rem;
    font-size: 100%;
    padding-right: 11rem;
    border-style: none;
    box-shadow: 0 5px 20px #e2e8f0;
    transition: all 300ms ease;
}

.header__input:hover{
    border-style: solid;
    box-shadow: 0 0px 0px #e2e8f0;
}

.header__customer-img--para{
    margin: 0.5rem 0 0 0;
    font-size: 0.75rem;
    font-weight: 700;
}

.header__customer-img, .header__customer-img--para{
    width: 100%;
    opacity: 0.5;
}

.header__customer-img--wrapper{
    margin-top: 5rem;
}

.section__description-feature{
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* FEATURES */

.section__description--para-feature{
    max-width: 45%;
}

.features__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.feature{
    width: calc(100% / 3);
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 2rem 0.5rem;
}

.feature__icon{
    padding: 1.25rem;
    border: #e2e8f0 1px solid;
    border-radius: 100%;
}

.feature__description{
    margin-left: 1.25rem;
}

.feature__description--title{
    font-size: 1.5rem;
    font-weight: 700;
}

.feature__description--para{
    font-weight: 500;
    line-height: 2;
    color: rgb(124 139 161);
}

/* QUALITY SECTION */

.svg__dots{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -10;
    height: 5rem;
    width: 5rem;
}

.section__figure--img-quality{
    max-width: none;
    padding: 36px 32px;
    filter:invert();
}

/* STEPS */

.steps{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.step{
    display: flex;
    width: 80%;
}

.step__number{
    color: rgb(203 213 224);
    font-size: 2.25rem;
    font-weight: 700;
}

.section__figure--img-steps{
    filter: invert();
}

.svg__dots--steps{
    transform: translateX(-320%) translateY(-70%) scale(1.5);
}

/* QUALITY */

.values{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.value{
    padding: 0 1rem;
}

.value__heading{
    display: flex;
    justify-content: start;
    align-items: center;
}

.value__icon--wrapper{
    padding: 0.5rem;
    background-color: #4dffc1;
    border-radius: 100%;
    margin-right: 1rem;
}

/* PRICING  */

.plans{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 145, 77, 0.5); */
    box-shadow: 0px 1px 3px 0;
    border: rgb(226, 232, 240) 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    position: relative;
}

.plan-business{
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__drama-line{
    /* height: 1rem; */
    width: calc(100% + 4rem);
    color: rgb(226, 232, 240);

}

.plan__duration{
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0;
}

.plan__price{
    padding: 1rem 0;
    font-size: 3rem;
}

.plan__heading, .plan__details{
    padding: 2rem 0;
    width: 100%;
}

.plan__btn{
    width: 75%;
    margin: 2rem 0;
    padding: 1rem 2rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.plan__btn--personal{
    background-image: linear-gradient(115deg, #ff914d 0%, rgb(129, 230, 217) 100%);
}

.plan__btn--enterprise{
    background-image: linear-gradient(115deg, rgb(129, 230, 217) 0%, #ff914d 100%);
}

.plan__btn--business{
    background-color: white;
    color: rgb(68, 179, 164);
}

.plan__details--para{
    margin: 0;
    margin-top: 1.25rem;
    font-weight: 500;
}

.plan__strip{
    width: 101%;
    height: 0.5rem;
    position: absolute;
    top: -2px;
    left: -1px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__strip--personal{
    background-image: linear-gradient(115deg, #ff914d 0%, rgb(129, 230, 217) 100%);
}

.plan__strip--enterprise{
    background-image: linear-gradient(115deg, rgb(129, 230, 217) 0%, #ff914d 100%);
}

.white-text{
    color:white;
}


/* CONTACT US */

.container__contact-us{
    background-color: #ff914d;
    text-align: center;
    border-radius: 20PX;
}

.section__title--contact-us{
    max-width: 75%;
}

.contact-us__btns{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;

}

.section__btn--white-border{
    border: white thin solid;
}

.section__btn--white-border:hover, .section__btn--contact-us:hover{
    box-shadow: 0 5px 10px white;
}

.section__btn--contact-us{
    background-color: rgb(129, 230, 217);
}


/* FOOTER */

.links-set{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links{
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    align-items: center;
    justify-content: center;
}

.links__wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.links__title{
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: white;
}

.link{
    color: white;
    text-align: left;
    margin: 0.25rem 0;
    transition: all 1s ease;
}

.link:hover{
    color: #1A202C;
}

.social__links{
    display: flex;
}

.social__link{
    background-color: white;
    padding: 1.5rem;
    border-radius: 100%;
    margin: 0 1rem;
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

.social__link:hover{
    box-shadow: 0 1PX 5PX black;
}


.footer__info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo--name{
    color: white;
    font-weight: 700;
    transition: all 1s ease;
}

.footer__logo--name:hover{
    /* opacity: .7; */
    color: #f0bfa1;
}

.footer__breaker{
    width: 100%;
    margin: 4rem 0;
    border-bottom-width: 1px;
    border-color:#e2e8f0;
    border-style: solid;
}

.footer__para{
    color: #e2e8f0;
}


.footer-container{
    padding: 5rem 1rem;
}

@media (max-width:1100px) {

    #landing{
        height: auto;
    }

    .section__title, .header__title{
        font-size: 2.5rem;
    }

    header{
        flex-direction: column;
        align-items: center;
        justify-content: normal;
        height: 100%;
    }

    .header__content{
        max-width: 32rem;
        width: 100%;
    }



    .feature {
        width: 40%;
    }

    .feature__description--para {
        width: 100%;
        max-width: 75%;
    }

    .feature__description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing__drama-line{
        width: 100%;
    }

    .svg__dots{
        transform: scale(1.5);
    }

    .svg__dots--quality{
        bottom: 12%;
    }

    .svg__dots--steps{
        right: 40%;
        bottom: 20%;
    }

    .values{
        flex-direction: column;
    }

    .plans{
        flex-direction: column;
    }

    .plan{
        padding: 0;
        margin-right: 0;
        max-width: 24rem;
        width: 100%;
    }

    /* NAVIGATION */

    .menu__wrapper{
        visibility: visible;
        opacity: 1;
    }

    .fa-bars{
        display: unset;
    }
    
    .nav__links{
        display: none;
    }

    .nav__links--list{
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        margin: 1.5rem;
    }

    .nav__link{
        margin: 1rem;
        font-size: 1.5rem;
    }

    .menu--open .fa-bars{
        visibility: hidden;
        opacity: 0;
    }

    .menu--open .fa-x{
        visibility: visible;
        opacity: 1;
    }

    .menu--open .menu__backdrop{
        visibility: visible;
        opacity: 1;
    }


    

}

@media (max-width:800px) {

    .header__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header__btn {
        position: unset;
        width: 100%;
    }

    .header__form {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header__input, .header__btn{
        padding: 1.25rem;
    }

    .header__customer-img--para {
        font-size: 1.175rem;
    }

    .header__customer-img{
        padding: 1.5rem 0;
    }

    .feature {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 0.5rem;
    }

    .feature__icon--wrapper{
        margin-bottom: 1rem;
    }
    
    .value__heading{
        justify-content: center;
    }

    .footer__info{
        flex-direction: column;
    }

    .links{
        margin-top: 1rem;
        width: calc(100%/3);
    }

    .links-set{
        justify-content: space-around;
    }

    .container{
        flex-direction: column-reverse;
        padding: 4.5rem 0;
    }

    .steps-container{
        flex-direction: column;
    }

    .step{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .step__number{
        margin-bottom: 0.5rem;
    }

    .section__description{
        margin: 0;
    }

    .section__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 3rem;
    }

    .section__figure{
        width: 100%;
    }

    .section__title, .header__title {
        font-size: 2rem;
    }

    .section__description--para-short {
        width: 100%;
    }

    .svg__dots--steps {
        bottom: 0;
    }

    .svg__dots--quality {
        bottom: 5%;
    }

    .container__contact-us {
        flex-direction: column;
        /* padding: 4.5rem 0; */
    }
}

/* ANIMATIONS */

/* ON -- SCROLL */

.animate__right-swipe--active{
    animation: swipe-right 1s ease;
}

.animate__left-swipe--active{
    animation: swipe-left 1s ease;
}
/* -- */

@keyframes swipe-left {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes swipe-right {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}