@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Noto+Sans+Mono:wght@500&family=Roboto:wght@300;400;500;700&display=swap');

/* rgb(100 21 255 / var(--tw-bg-opacity)) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav__logo{
    max-width: 40px;
    width: 100%;
    border-radius: 5%;
    margin-right: 0.75rem;
}

.container{
    display: flex;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#landing{
    padding:2rem;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #242424;
    cursor: pointer;
}

button{
    cursor: pointer;
}

.colored-text{
    color: #ff914d;
}

h1{
    font-size: 3rem;
    color: #1A202C;
    margin-bottom: 2rem;
}

p{
    font-size: 1.125rem;
    margin: 2rem 0;
    color: #242424;
}

/* NAVIGATION */

.nav__logo--name{
    display: flex;
    align-items: center;
    font-size: 28px;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__links--list{
    display: flex;
    align-items: center;
}

.nav__link, .nav__links--primary{
    margin: 0 24px;
    font-size: 1rem;
}

.nav__links--primary{
    margin-right: 0;
}

.nav__link--primary{
    background-color: #ff914d;
    color: white;
    border-radius: 200px;
    padding: 0.75rem 1.5rem;
    max-width: 200px;
}


/* HEADER */

header{
    display: flex;
    width: 100%;
    overflow-x: hidden;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    height: 90vh;
}

.header__content{
    width: 40%;
}

.header__figure-wrapper{
    width: 60%;
}

.header__figure--img{
    width: 100%;
    max-width: 32rem;
}

.header__form{
    position: relative;
}

.header__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 1px;
    bottom: 0;
    background-color: #ff914d;
    color: white;
    font-size: 100%;
    font-weight: 700;
    width: 10rem;
    line-height: 1;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 200px;
    border: none;
}

.header__input{
    width: 100%;
    border-radius: 200px;
    padding: 1.25rem;
    font-size: 100%;
    padding-right: 11rem;
}

.header__customer-img--para{
    margin: 0.5rem 0 0 0;
    font-size: 0.75rem;
    font-weight: 700;
}

.header__customer-img, .header__customer-img--para{
    width: 100%;
    opacity: 0.5;
}

.header__customer-img--wrapper{
    margin-top: 5rem;
}